In [22]:
import numpy as np
import pandas as pd
import requests
import math
from scipy import stats
import xlsxwriter

In [23]:
stocks = pd.read_csv('sp_500_stocks.csv')
from secrets import IEX_CLOUD_API_TOKEN

In [24]:
""" We need different stocks market indicators in comparison to the equal weight strat
    We need price and 1 year stock return in place of market cap"""

symbol = 'AAPL'
api_url = f'https://sandbox.iexapis.com/stable/stock/{symbol}/stats?token={IEX_CLOUD_API_TOKEN}'

data = requests.get(api_url).json()

"""To parse a .json object like this you pass ['key']"""

data['year1ChangePercent']

0.2690710790734838

In [25]:
def chunks(lst, n):
    """chunks of size en off the list"""
    for i in range(0, len(lst), n):
        yield lst[i: i+n]
        
my_columns = ['Ticker', 'Stock Price', 'One-Year Price Return', 'Number of Shares to Buy']

symbol_groups = list(chunks(stocks['Ticker'], 100))

symbol_strings = []
for i in range(0, len(symbol_groups)):
    symbol_strings.append(','.join(symbol_groups[i]))

In [26]:
final_dataframe = pd.DataFrame(columns=my_columns)


for symbol_string in symbol_strings:
    
    batch_api_call_url = f'https://sandbox.iexapis.com/stable/stock/market/batch/?types=stats,quote&symbols={symbol_string}&token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(batch_api_call_url).json()
    
    " This loop takes care of appending the relevant metrics to the final dataframe "
    for symbol in symbol_string.split(','):
        final_dataframe = final_dataframe.append(
        pd.Series(
        [
            symbol,
            data[symbol]['quote']['latestPrice'],
            data[symbol]['stats']['year1ChangePercent'],
            'N/A'
        ],
        index = my_columns),
            ignore_index = True
        )

final_dataframe

    Ticker  Stock Price One-Year Price Return Number of Shares to Buy
0        A      158.760              0.539709                     N/A
1      AAL       20.710              0.664011                     N/A
2      AAP      220.100              0.394979                     N/A
3     AAPL      147.195              0.273016                     N/A
4     ABBV      112.240              0.338399                     N/A
..     ...          ...                   ...                     ...
500    YUM      129.020              0.371168                     N/A
501    ZBH      150.290              0.044451                     N/A
502   ZBRA      522.120               0.90887                     N/A
503   ZION       63.200              1.137146                     N/A
504    ZTS      204.165              0.224889                     N/A

[505 rows x 4 columns]

In [27]:
""" Now lets get rid of the low momentum stocks 
    First we have to rearrange the stocks in descending order
    looking at the One-Year Price Return column
    The inplace method sets the modification on the dataframe"""

final_dataframe.sort_values('One-Year Price Return', ascending= False, inplace= True)
final_dataframe = final_dataframe[:50]
final_dataframe.reset_index(inplace = True)
final_dataframe

    index Ticker  Stock Price One-Year Price Return Number of Shares to Buy
0     148    DVN       39.616              3.162453                     N/A
1     317    MRO       15.955              2.905458                     N/A
2     175   FANG      106.800              2.700094                     N/A
3     275     LB       83.590              2.330877                     N/A
4     357    OXY       33.200              2.267966                     N/A
5     299   MCHP      152.648              1.810655                     N/A
6     111   COTY        8.360              1.760238                     N/A
7     410   SIVB      683.560              1.624353                     N/A
8     195   FTNT      320.900              1.618847                     N/A
9     160    EOG       87.100              1.558159                     N/A
10    352    OKE       61.400              1.475354                     N/A
11    251     IT      322.375              1.462658                     N/A
12     23    ALB      227.300              1.456501                     N/A
13    272    KSS       46.800              1.435617                     N/A
14    109    COP       74.443              1.292098                     N/A
15    106    COF      174.284              1.285339                     N/A
16    441    TPR       40.110              1.269563                     N/A
17    218    HES       87.348              1.262346                     N/A
18    315    MPC       64.113              1.256703                     N/A
19    245    IPG       39.500              1.253518                     N/A
20    253    IVZ       25.989              1.242834                     N/A
21    285    LNC       75.120              1.222278                     N/A
22    318     MS      101.856              1.175804                     N/A
23    198     GE      105.720              1.167796                     N/A
24    342   NTAP       93.760              1.156007                     N/A
25     29   AMAT      131.100              1.154039                     N/A
26    386    PXD      185.020              1.146682                     N/A
27    305    MGM       44.980              1.142447                     N/A
28    503   ZION       63.200              1.137146                     N/A
29     98    CMA       88.030              1.116447                     N/A
30    129    DFS      129.260              1.114759                     N/A
31    344    NUE      103.272              1.110369                     N/A
32     24   ALGN      676.000              1.106235                     N/A
33    314    MOS       41.600              1.104839                     N/A
34    407   SCHW       78.530               1.09937                     N/A
35     18    AIG       59.300              1.077746                     N/A
36    179    FCX       35.530              1.063333                     N/A
37    417    SPG      138.960              1.058585                     N/A
38    450    TXT       76.840               1.05635                     N/A
39    482    WFC       50.008               1.04003                     N/A
40    185   FITB       45.500              1.040027                     N/A
41    174      F       15.513              1.039013                     N/A
42     66    BKR       24.777              1.015464                     N/A
43     82   CBRE      102.362              1.007181                     N/A
44     89     CF       60.800               0.99403                     N/A
45    385    PWR      115.460              0.984268                     N/A
46    496    XOM       62.500              0.984191                     N/A
47    212    HAL       24.432              0.973561                     N/A
48    210     GS      404.970              0.967552                     N/A
49    220    HIG       73.193              0.965327                     N/A

In [ ]:
def portfolio_input():
    global portfolio_size
    portfolio_size = input('Enter the size of your portfolio :')
    
    try:
        float(portfolio_size)
    except ValueError:
        print('That is not a number! \n Please try again :')
        portfolio_size = input('Enter the size of your portfolio :')
    
portfolio_input()
print(portfolio_)